@using Newtonsoft.Json
@model ML.Encuesta

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Admin/Contenido.cshtml";
    string fechaInicio = Convert.ToString(Model.FechaInicio);
    string fechaFin = Convert.ToString(Model.FechaFin);
}
<script src="~/scripts/jquery-3.4.1.min.js"></script>
@section H1
{
   <section id="page-title">
    <div class="container-fluid px-lg-5">
        <div class="row">
            <div class="col-sm-8 bottom-align-left center-vertically-xs">
                <img class="img-fluid img-page-title" src="../img/icon-survey.png"> <h1 class="title-page-survey">Ecuestas / <span>Editar</span></h1>
            </div>
            <div class="col-sm-4 bottom-align-right center-vertically-xs">
                @*<a href="" onclick="return validateData();" class="btn-parallelogram parallelogram">
                    <span class="skew-fix"><i class="fas fa-eye"></i>Editar Encuesta</span>
                </a>*@
            </div>                        
        </div>
    </div><!--.container-fluid-->
</section>
}
@section Styles
{
    <style type="text/css">
        .contenedor-text-rich .btn-group{
            position: unset !important;
        }
         .swal-title {
            font-size: 25px !important;
        }

        .swal-button {
            font-size: 20px !important;
        }

        .cc-selector input {
            margin: 0;
            padding: 0;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
        }

        .badface {
            background-image: url('../img/face-bad.png');
        }

        .regularface {
            background-image: url('../img/face-regular.png');
        }

        .happyface {
            background-image: url('../img/face-happy.png');
        }

        .happierface {
            background-image: url('../img/face-happier.png');
        }

        input:active + .face-value {
            opacity: .9;
        }

        input:checked + .face-value {
            -webkit-filter: none;
            -moz-filter: none;
            filter: none;
        }

        .face-value {
            cursor: pointer;
            background-size: contain;
            background-repeat: no-repeat;
            display: inline-block;
            width: 100px;
            height: 70px;
            -webkit-transition: all 100ms ease-in;
            -moz-transition: all 100ms ease-in;
            transition: all 100ms ease-in;
            -webkit-filter: brightness(1.1) grayscale(1) opacity(.7);
            -moz-filter: brightness(1.1) grayscale(1) opacity(.7);
            filter: brightness(1.1) grayscale(1) opacity(.7);
        }

            .face-value:hover {
                -webkit-filter: brightness(1.2) grayscale(.5) opacity(.9);
                -moz-filter: brightness(1.2) grayscale(.5) opacity(.9);
                filter: brightness(1.2) grayscale(.5) opacity(.9);
            }
    </style>
    <link href="~/css/swiper.min.css" rel="stylesheet" />
    <link href="~/css/summernote.min.css" rel="stylesheet" />
}
@using (Html.BeginForm("Edit", "Encuesta", FormMethod.Post, new { @id = "editaEncuesta" }))
{
    @Html.AntiForgeryToken()
    <div class="content-wrap">
        <div class="container-fluid px-lg-5">
            <div class="row">
                <div class="col-lg-8  offset-lg-2">
                    <ul class="nav nav-tabs mb-4" id="tabSurvey" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="prev-tab" data-toggle="tab" href="#prev" role="tab" aria-controls="prev" aria-selected="false">Configuración</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="manag-tab" data-toggle="tab" href="#manag" role="tab" aria-controls="manag" aria-selected="false">Administración de preguntas y respuestas</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " id="conf-tab" data-toggle="tab" href="#conf" role="tab" aria-controls="confi" aria-selected="true">Plantillas</a>
                        </li>
                    </ul>
                    <div class="tab-content" id="tabSurveyContent">
                        <div class="tab-pane fade active show" id="prev" role="tabpanel" aria-labelledby="prev-tab">
                            <div class="section-survey shadow-sm animated fadeInUp">
                                <div class="body-survey">
                                    <div class="row">
                                        @Html.HiddenFor(m => m.IdEncuesta)
                                        <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
                                            <div class="form-group">
                                                @Html.TextBoxFor(m => m.Nombre, new { @Id = "Nombre", @class = "form-control", @placeholder = "Nombre de la Encuestas", @autofocus = "true", })
                                            </div>
                                        </div>
                                        @*<div class="row">*@
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                            <div class="form-group">
                                                @Html.DropDownListFor(model => model.IdEmpresa,
                                            new SelectList(Model.ListEmpresas, "CompanyId", "CompanyName"), "Selecciona Empresa",
                                            new { @class = "form-control" })
                                            </div>
                                        </div>
                                        <!--</div>-->
                                        @*<div class="row">*@
                                        <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                            @Html.DropDownListFor(model => model.MLTipoEncuesta.IdTipoEncuesta,
                                            new SelectList(Model.ListTipoEncuesta, "IdTipoEncuesta", "NombreTipoDeEncuesta"), "Selecciona Tipo de Encuesta",
                                            new { @class = "form-control" })
                                        </div>
                                        <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-6 " id="muestraBDA">
                                            @Html.DropDownListFor(model => model.BasesDeDatos.IdBaseDeDatos,
                                            new SelectList(Model.ListDataBase, "IdBaseDeDatos", "Nombre"), "Selecciona Base de Datos",
                                            new { @class = "form-control", @id = "BaseDeDatosAnonima" })
                                        </div>                                                                            <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                                          
                                            <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                                <label>Reconfigurar secciones</label> @Html.CheckBoxFor(model => model.SeccionarEncuesta) <i class="fas fa-clone"></i>
                                            </div>
                                            <hr />
                                            <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                                <label>Reconfigurar bifurcaciones</label> @Html.CheckBoxFor(model => model.PreguntasCondicion) <i class="fas fa-project-diagram"></i>
                                            </div>
                                            <hr />
                                        </div>                                   
                                      
                                        <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                                            <label>Vigencia</label>
                                            <div class="form-group">
                                                <div class="row">
                                                    <div class="col-xl-3">
                                                        <label>Apartir de:</label>
                                                    </div>
                                                    <div class="col-xl-3">
                                                       @*@Html.Label(@Model.FechaFin.Value.ToString("dd/MM/yyyy"))*@
                                                        @Html.TextBoxFor(m => m.FechaInicio, new { type = "date", @class = "form-control", @value = @Model.FechaInicio.Value.ToString("dd/MM/yyyy") })
                                                    </div>
                                                   
                                                </div><!--.row-->
                                            </div><!--.form-group-->
                                            <div class="form-group">
                                                <div class="row">
                                                    <div class="col-xl-3">
                                                        <label>Hasta:</label>
                                                    </div>
                                                    <div class="col-xl-3">                                                     
                                                        @Html.TextBoxFor(m => m.FechaFin, new { type = "date", @class = "form-control", @value = @Model.FechaFin.Value.ToString("DD/MM/YYYY") })
                                                    </div>
                                                    @*<div class="col">
                            <input class="form-control" id="time-to" type="time">
                        </div>*@
                                                </div>
                                            </div><!--.form-group-->
                                        </div>
                                        <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                                            <div class="form-group">
                                                <label>Instrucciones</label>
                                                <div class="input-group trichzone contenedor-text-rich">
                                                    @Html.TextAreaFor(m => m.Instruccion, new { @Value = " ", rows = "10", style = "resize:none;width:100%;", placeholder = "Instruccion", @class = "form-control input-lg textarea-editor", })
                                                </div>
                                            </div><!--.form-group-->
                                        </div>
                                        @*Se oculta no se ocupará
                <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                <div class="form-group">
                    <label>Imagen de Instrucciones</label>
                    <div class="input-group trichzone">
                        @Html.TextAreaFor(m => m.ImagenInstruccion, new { @Value = " ", rows = "10", style = "resize:none;width:100%;", placeholder = "ImagenInstruccion", @class = "form-control input-lg textarea-editor", })
                    </div>
                </div><!--.form-group-->
            </div>*@
                                        <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                                            <div class="form-group">
                                                <label>Agradecimiento</label>
                                                <div class="input-group trichzone contenedor-text-rich">
                                                    @Html.TextAreaFor(m => m.Agradecimiento, new { @Value = " ", rows = "10", style = "resize:none;width:100%;", placeholder = "Agradecimiento", @class = "form-control input-lg textarea-editor", })
                                                </div>
                                            </div><!--.form-group-->
                                        </div>
                                        @*Se Oculta no se ocupará
                <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                <div class="form-group">
                    <label>Imagen de Agradecimiento</label>
                    <div class="input-group trichzone">
                        @Html.TextAreaFor(m => m.ImagenAgradecimiento, new { @Value = " ", rows = "10", style = "resize:none;width:100%;", placeholder = "Agradecimiento", @class = "form-control input-lg textarea-editor", })
                    </div>
                </div><!--.form-group-->
            </div>*@

                                    </div><!--.row-->
                                    </div>
                                </div>
                            </div>
                        <div class="tab-pane fade" id="manag" role="tabpanel" aria-labelledby="manag-tab">
                            <div class="section-survey shadow-sm animated fadeInUp">
                                <div class="body-survey">
                                    <div class="row">
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                            <div class="form-group">

                                                <div class="input-group trichzone col-lg-12 col-md-12 col-sm-12 col-xs-12" id="newCuestionEdit">
                                                    @{
                                                        if (Model.NewCuestionEdit != null)
                                                        {
                                                            if (Model.TipoEstatus.IdEstatus > 0)
                                                            {
                                                                foreach (var pregunta in Model.NewCuestionEdit)
                                                                {
                                                                    @Html.Partial("~/Views/Preguntas/PreguntasAddEdit.cshtml", pregunta);
                                                                }
                                                            }
                                                        }
                                                        if (Model.NewCuestion != null)
                                                        {
                                                            for (int i = 0; i < Model.NewCuestion.Count(); i++)
                                                            {
                                                                @Html.EditorFor(model => Model.NewCuestion[i])
                                                            }
                                                        }
                                                    }
                                                </div>
                                                <label>Agrega Pregunta</label>
                                                <input type="button" id="addCuestion" name="addCuestion" value="+" />
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="conf" role="tabpanel" aria-labelledby="conf-tab">
                            <div class="section-survey shadow-sm animated fadeInUp">
                                <div class="body-survey">
                                    <div class="row">
                                        <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                                            <div class="form-group">
                                                <label>Selecciona una Plantilla</label>
                                            </div>

                                            <hr class="clearfix" />
                                            <div class="row">
                                                @{                //Model.ListPlantillas

                                                    if (Model.ListPlantillas != null)
                                                    {
                                                        for (int i = 0; i < Model.ListPlantillas.Count(); i++)
                                                        {
                                                            if (Model.Plantillas.IdPlantilla == Model.ListPlantillas[i].IdPlantilla)
                                                            {
                                                                <div class="col-6 col-md-3 col-lg-2 px-lg-2">
                                                                    <div class="border mb-2 mb-lg-0 rounded" align="center">
                                                                        <div class="form-check px-2 py-2">
                                                                            <div class="col-12 p-0">
                                                                                <input class="form-check-input position-relative mx-auto mt-0 d-block" type="radio" name="Plantillas.IdPlantilla" id="Plantillas_IdPlantilla" value="@Model.ListPlantillas[i].IdPlantilla" checked="checked">
                                                                            </div>
                                                                            <div class="col-12 p-0">
                                                                                <label class="form-check-label d-block" for="Plantillas_IdPlantilla">
                                                                                    <div class="col-12 p-0">
                                                                                        <p class="mb-0" style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;display: inline-block;max-width: 100%;">@Html.Raw(@Model.ListPlantillas[i].Nombre)</p>
                                                                                    </div>                                                                                    
                                                                                    <div class="col-12 p-0">
                                                                                        <a class="btn btn-sm btn-preview mt-1" href="@Url.Action("Preview", "Plantillas", new { IdPlantilla = @Model.ListPlantillas[i].IdPlantilla })" target="_blank">
                                                                                            <img src="~/img/icono-preview.png" class="mt-1" width="15" height="15" alt="Icono Previsualizar">
                                                                                            <p class="mb-0 text-white p-preview"><small class="text-preview">Previsualizar</small></p>
                                                                                        </a>
                                                                                    </div>                                                                                    
                                                                                </label>
                                                                            </div>
                                                                            
                                                                            
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            }
                                                            else
                                                            {
                                                                <div class="col-6 col-md-3 col-lg-2 px-lg-2">
                                                                    <div class="border mb-2 mb-lg-0 rounded" align="center">
                                                                        <div class="form-check px-2 py-2">
                                                                            <div class="col-12 p-0">
                                                                                <input class="form-check-input position-relative mx-auto mt-0 d-block" type="radio" name="Plantillas.IdPlantilla" id="Plantillas_IdPlantilla" value="@Model.ListPlantillas[i].IdPlantilla">
                                                                            </div>
                                                                            <div class="col-12 p-0">
                                                                                <label class="form-check-label d-block" for="Plantillas_IdPlantilla">
                                                                                    <div class="col-12 p-0">
                                                                                        <p class="mb-0" style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;display: inline-block;max-width: 100%;">@Html.Raw(@Model.ListPlantillas[i].Nombre)</p>
                                                                                    </div>                                                                                    
                                                                                    <div class="col-12 p-0">
                                                                                        <a class="btn btn-sm btn-preview mt-1" href="@Url.Action("Preview", "Plantillas", new { IdPlantilla = @Model.ListPlantillas[i].IdPlantilla })" target="_blank">
                                                                                            <img src="~/img/icono-preview.png" class="mt-1" width="15" height="15" alt="Icono Previsualizar">
                                                                                            <p class="mb-0 text-white p-preview"><small class="text-preview">Previsualizar</small></p>
                                                                                        </a>
                                                                                    </div>                                                                                    
                                                                                </label>
                                                                            </div>
                                                                            
                                                                            
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            }


                                                        }
                                                    }
                                                }
                                            </div>
                                            <hr class="clearfix" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        </div>                      
                    </div>
                </div><!--.col-lg-8-->
            </div><!--.row-->
            <div class="row">
                <div class="form-group col-lg-10 col-md-10 col-xs-10">
                    <div class="col-md-5 text-right">
                        <input type="submit" value="Editar" onclick="return validateData();" class="btn btn-success" />
                    </div>
                </div>
            </div>
        </div>
   
                                                        }

@section Scripts
{

    @*<script src="~/scripts/Controller/encuestaApp.js"></script>*@
    <script src="~/scripts/summernote/bootstrap.js" type="text/javascript"></script>
    <script src="~/scripts/summernote/summernote.js" type="text/javascript"></script>
    <script src="~/css/sweetalert.min.js"></script>
    
    <script type="text/javascript">
        $(document).ready(function () {

            //document.getElementById("prev-tab").focus();
          //  $("#conf-tab").hide();
            $('html, body').animate({ scrollTop: $('#wrapper').offset().top - 100 }, 'slow');

            let model = { idEncuesta: $('#IdEncuesta').val() }
            $.ajax({
                url: '@Url.Action("GetPeriodoEncuesta")',
                data: model,
                type: 'GET',
                complete: function (val) {
                    if (val != null) {
                        var Inicio = val.responseJSON[0].cadenaInicio;
                        var Fin = val.responseJSON[0].cadenaFin;
                        Inicio = Inicio.substring(0, 10);
                        Fin = Fin.substring(0, 10);

                        diaI = Inicio.substring(0, 2);
                        mesI = Inicio.substring(5, 3);
                        anioI = Inicio.substring(6, 12);
                        var dateInicio = anioI + '-' + mesI + '-' + diaI;
                        diaF = Fin.substring(0, 2);
                        mesF = Fin.substring(5, 3);
                        anioF = Fin.substring(6, 12);
                        var dateFin = anioF + '-' + mesF + '-' + diaF;

                        $('#FechaInicio').val(dateInicio);
                        $('#FechaFin').val(dateFin);
                    }
                }
            });

        });
    </script>
    <script type="text/javascript">
        $("#addCuestion").on('click', function () {
            $.ajax({
                url: '/Encuesta/CreateNewCuestion',
                success: function (partialView) {
                    $('#newCuestionEdit').append(partialView);
                }
            });
        });
    </script>
    <script type="text/javascript">
        function deleteCuestion(CuestionDiv) {
            CuestionDiv.remove();
        };
        function seleccTipoControl(idTipoControl) {
            alert(idTipoControl);
        };
        function validateData() {
            if ($("#Nombre").val() == "") {
                swal("Escriba un Nombre de Encuesta, Por Favor. !", "", "error");
                return false;
            }          

            if ($("#IdEmpresa").val() == 0) {
                swal("Seleccione una empresa, Por Favor. !", "", "error");
                return false;
            }          
            if ($("#FechaInicio").val() == "") {
                swal("Selecciones una fecha de inicio, Por Favor. !", "", "error");
                return false;
            }           
            if ($("#FechaFin").val() == "")
            {
                swal("Seleccione una fecha de fin, Por Favor. !", "", "error");
                return false;
            }          
            if ($("#MLTipoEncuesta_IdTipoEncuesta").val() =="")
            {
                swal("Seleccione un Tipo de encuesta, Por Favor. !", "", "error");
                return false;
            }           
            if ($("#BaseDeDatosAnonima").val() == "")
            {
                swal("Seleccione una Base de Datos, Por Favor. !", "", "error");
                return false;
            }
            if(document.getElementById("newCuestionEdit").childElementCount == 0)
            {
                swal("Debe de agregar por lo menos una pregunta, Por Favor. !", "", "error");
                return false;
            }
            var idPlantilla = $("input[name='Plantillas.IdPlantilla']:checked").val();
            if (idPlantilla == undefined) {
                swal("Seleccione una plantilla, Por Favor. !", "", "error");
                return false;
            }
            return true;

        };
    </script>
<script>
        function revisaLikert() {
            var likertDobleCorrect = true;
            var listSelect = [];
            var select = $('#newCuestion').find('select');
            for (var i = 0; i < select.length; i++) {
                var texto = select[i].value;
                listSelect.push(texto);
            }

            for (var i = 0; i < listSelect.length; i++) {
                if (listSelect[i] == '12') {
                    var divPadrePregunta = select[i].parentNode.parentNode.parentNode.parentNode;
                    console.log(divPadrePregunta);
                    var idPadre = '#' + divPadrePregunta.id;
                    var listaInputTextEnSeccion = $(idPadre).find('input[type="text"]');

                    if (listaInputTextEnSeccion.length < 4) {
                        $(idPadre).css('border', 'solid red 1px');
                        swal('Debes ingresar preguntas aparte de las columnas en el likert doble', '', 'info');
                        likertDobleCorrect = false;
                    }
                    else {
                        //likertDobleCorrect = true;
                        $(idPadre).css('border', 'solid red 0px');
                    }
                }
            }
            return likertDobleCorrect;
        }
</script>


}


