@model ML.Administrador
@{
    ViewBag.Title = "¿Olvidó la contraseña?";
    Layout = null;
}

<!DOCTYPE html>
<html lang="es-es">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/bundles/cssAdmin")
    @{
        //Session["PerfilAdminLog"]
        ViewBag.Perfil = Session["PerfilAdminLog"];
    }
</head>
<body>
    <main id="wrapper">
        <div id="top-bar">
            <div class="container-fluid px-lg-5">
                <div class="row">
                    <div class="col-4 col-sm-5 col-md-5">
                        <img src="~/img/logo.png" class="logo-header" alt="Logo" onclick="">
                    </div>

                    <div class="col-8 col-sm-7 col-md-7">
                        <div class="user-info">
                            <span class="color">Hola</span>, Bienvenido a la recuperacion de contraseña 
                                <img src="~/img/icon-user-male.jpg" class="avatar-header" width="50" height="50" alt="Avatar">
                        </div><!--.user-info-->
                    </div>
                </div><!--.row-->
            </div><!--.container-fluid-->
        </div>
        <section id="content">
            <div class="content-wrap">
                <div class="container-fluid px-lg-5">
                    <div class="row">
                        <div class="col-lg-8">
                            @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                            {
                                @Html.AntiForgeryToken()
                                <h4>Especifique su correo electrónico. </h4><h5 style="color:red">@ViewBag.Error</h5>
                                <hr />
                                @Html.ValidationSummary("", new { @class = "text-danger" })
                                <div class="form-group">
                                    @Html.Label("Ingresa tu email", new { @class = "col-md-2 control-label" })
                                    <div class="col-md-5">
                                        @Html.TextBoxFor(m => m.Correo, new { @class = "form-control", @onkeyup = "validarRealTime(this)" })
                                        @Html.HiddenFor(model => model.UserName)
                                        @Html.HiddenFor(model => model.Password)
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-offset-2 col-md-10">
                                        <input type="submit" class="btn btn-success" value="Recuperar cuenta" />
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer id="footer">
        <div class="container-fluid px-lg-5">
            <div class="row">
                <div class="col-6">
                    <p class="copyrights"><span class="color">DIAGNOSTIC 4U</span> 2020</p>
                </div>
                <div class="col-6">
                    <p class="text-support"><i class="far fa-life-ring"></i> SOPORTE</p>
                </div>
            </div>
        </div>
    </footer>   
</body>
</html> 
<script src="~/scripts/jquery-3.4.1.min.js"></script>
<script>
    $(document).ready(function () {
        $('#Password').val('PasswordDemo');
        $('#UserName').val('demo@@digis01.com');
    })
    function validarRealTime(e) {
        var regExpEmail = /^(([^<>()[\]\.,;:\s@@\"]+(\.[^<>()[\]\.,;:\s@@\"]+)*)|(\".+\"))@@(([^<>()[\]\.,;:\s@@\"]+\.)+[^<>()[\]\.,;:\s@@\"]{2,})$/i;

        var idItem = '#' + e.id;
        var classSpan = e.id;
        var texto = $(idItem).val();
        var PadreDiv = e.parentNode;

        if (e.id == "Correo") {
            if (!regExpEmail.test(texto)) {
                $('.' + classSpan).remove();
                $(PadreDiv).append('<span class="' + classSpan + ' error" style="color:red">Por favor ingrese un correo válido</span>');
            } else {
                $('.' + classSpan).remove();
            }
        }
    }
</script>