@*Solo para consulta*@
@model ML.Result
@{
    ViewBag.Title = "ReporteAfrimativasCL";
    Layout = "";
}
<!DOCTYPE html>
<html lang="es-es">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/bundles/cssAdmin")
    @{
        //Session["PerfilAdminLog"]
        ViewBag.Perfil = Session["PerfilAdminLog"];
    }
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.15/css/dataTables.bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/responsive/2.1.1/css/responsive.bootstrap.min.css" />
    <script src="~/scripts/templates-functions.js"></script>
</head>
<body>
    <main id="wrapper">
        <div id="top-bar">
            <div class="container-fluid px-lg-5">
                <div class="row">

                    <div class="col-4 col-sm-5 col-md-5">
                        <img src="~/img/logo.png" class="logo-header" alt="Logo" onclick="GetDashBoard()">
                    </div>

                    <div class="col-8 col-sm-7 col-md-7">
                        <div class="user-info">
                            <span class="color">Hola</span>, @Session["AdminLog"]  @{ foreach (var item in ViewBag.Perfil)
                                { <span class="position"> / @item  </span> } } <img src="~/img/icon-user-male.jpg" class="avatar-header" width="50" height="50" alt="Avatar">
                        </div><!--.user-info-->
                    </div>
                </div><!--.row-->
            </div><!--.container-fluid-->
        </div>
        <header class="mb-4" id="header">
            <nav class="navbar navbar-expand-lg navbar-light px-lg-5">
                <a class="navbar-brand" href="#"></a>
                <button class="navbar-toggler" aria-expanded="false" aria-controls="navbarHeader" aria-label="Toggle navigation" type="button" data-target="#navbarHeader" data-toggle="collapse">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarHeader">
                    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">

                        <!--inicio seccion permisos-->
                        @{
                            //Validar acciones
                            var ActionEncuestasListar = false;
                            var ActionEncuestasCrear = false;
                            var ActionEncuestasOpc = false;

                            var ActionPlantillasListar = false;
                            var ActionPlantillasCrear = false;
                            var ActionPlantillasOpc = false;

                            var ActionReportesListar = false;
                            var ActionReportesCrear = false;
                            var ActionReportesOpc = false;

                            var ActionBDListar = false;
                            var ActionBDCrear = false;
                            var ActionBDOpc = false;

                            var ActionUsuariosListar = false;
                            var ActionUsuariosCrear = false;
                            var ActionUsuariosOpc = false;

                            var ActionEmpresasListar = false;
                            var ActionEmpresasCrear = false;
                            var ActionEmpresaOpc = false;

                            ViewBag.Permisos = Session["Permisos"];

                            foreach (ML.PerfilModulo item in ViewBag.Permisos)
                            {
                                if (item.Modulo.Nombre == "Encuestas" && item.PerfilModuloAccion.Accion == "ListarEncuesta")
                                {
                                    ActionEncuestasListar = true;
                                }
                                if (item.Modulo.Nombre == "Encuestas" && item.PerfilModuloAccion.Accion == "CrearEncuesta")
                                {
                                    ActionEncuestasCrear = true;
                                }
                                if (item.Modulo.Nombre == "Encuestas" && item.PerfilModuloAccion.Accion == "OpcEncuesta")
                                {
                                    ActionEncuestasOpc = true;
                                }
                                if (item.Modulo.Nombre == "Plantillas" && item.PerfilModuloAccion.Accion == "ListarPlantilla")
                                {
                                    ActionPlantillasListar = true;
                                }
                                if (item.Modulo.Nombre == "Plantillas" && item.PerfilModuloAccion.Accion == "CrearPlantilla")
                                {
                                    ActionPlantillasCrear = true;
                                }
                                if (item.Modulo.Nombre == "Plantillas" && item.PerfilModuloAccion.Accion == "OpcPlantila")
                                {
                                    ActionPlantillasOpc = true;
                                }
                                if (item.Modulo.Nombre == "Reportes" && item.PerfilModuloAccion.Accion == "ListarReporte")
                                {
                                    ActionReportesListar = true;
                                }
                                if (item.Modulo.Nombre == "Reportes" && item.PerfilModuloAccion.Accion == "CrearReporte")
                                {
                                    ActionReportesCrear = true;
                                }
                                if (item.Modulo.Nombre == "Reportes" && item.PerfilModuloAccion.Accion == "OpcReporte")
                                {
                                    ActionReportesOpc = true;
                                }
                                if (item.Modulo.Nombre == "Base de datos" && item.PerfilModuloAccion.Accion == "ListarBD")
                                {
                                    ActionBDListar = true;
                                }
                                if (item.Modulo.Nombre == "Base de datos" && item.PerfilModuloAccion.Accion == "CrearBD")
                                {
                                    ActionBDCrear = true;
                                }
                                if (item.Modulo.Nombre == "Base de datos" && item.PerfilModuloAccion.Accion == "OpcBD")
                                {
                                    ActionBDOpc = true;
                                }
                                if (item.Modulo.Nombre == "Usuarios" && item.PerfilModuloAccion.Accion == "ListarUsuario")
                                {
                                    ActionUsuariosListar = true;
                                }
                                if (item.Modulo.Nombre == "Usuarios" && item.PerfilModuloAccion.Accion == "CrearUsuario")
                                {
                                    ActionUsuariosCrear = true;
                                }
                                if (item.Modulo.Nombre == "Usuarios" && item.PerfilModuloAccion.Accion == "OpcUsuario")
                                {
                                    ActionUsuariosOpc = true;
                                }
                                if (item.Modulo.Nombre == "Empresass" && item.PerfilModuloAccion.Accion == "ListarEmpresa")
                                {
                                    ActionEmpresasListar = true;
                                }
                                if (item.Modulo.Nombre == "Empresas" && item.PerfilModuloAccion.Accion == "CrearEmpresa")
                                {
                                    ActionEmpresasCrear = true;
                                }
                                if (item.Modulo.Nombre == "Empresas" && item.PerfilModuloAccion.Accion == "OpcEmpresa")
                                {
                                    ActionEmpresaOpc = true;
                                }
                            }


                            //Validar modulos
                            ViewBag.Modulos = Session["Modulos"];

                            foreach (ML.PerfilModulo perf in ViewBag.Modulos)
                            {
                                ML.PerfilModulo perfilModulo = new ML.PerfilModulo();
                                perfilModulo.Modulo = new ML.Modulo();

                                perfilModulo.Modulo.Nombre = perf.Modulo.Nombre;

                                if (perfilModulo.Modulo.Nombre == "Encuestas")
                                {
                                    <li class="nav-item" id="survey">
                                        <a class="nav-link" href="#">Encuestas</a>
                                        <nav id="survey-hover">
                                            <div class="container-fluid px-lg-5">
                                                <ul class="navbar-submenu list-inline">
                                                    @{
                                                        if (ActionEncuestasCrear == true)
                                                        {
                                                            <li class="list-inline-item"><a class="nav-link" href="#">Crear</a></li>
                                                        }
                                                        if (ActionEncuestasListar == true)
                                                        {
                                                            <li class="list-inline-item"><a class="nav-link" href="#">Listado</a></li>
                                                        }
                                                        if (ActionEncuestasOpc == true)
                                                        {
                                                            <li class="list-inline-item"><a class="nav-link" href="#">Más opciones</a></li>
                                                        }
                                                    }
                                                </ul>
                                            </div>
                                        </nav>
                                    </li>
                                                        }
                                                        if (perfilModulo.Modulo.Nombre == "Plantillas")
                                                        {
                                                            <li class="nav-item" id="">
                                                                <a class="nav-link" href="@Url.Action("Plantilla", "Plantillas")">Plantillas</a>
                                                                <nav id="survey-hover">
                                                                    <div class="container-fluid px-lg-5">
                                                                        <ul class="navbar-submenu list-inline">
                                                                            @{
                                                                                if (ActionPlantillasCrear == true)
                                                                                {
                                                                                    <li class="list-inline-item"><a class="nav-link" href="@Url.Action("Create", "Plantillas")">Crear</a></li>
                                                                                }
                                                                                if (ActionPlantillasListar)
                                                                                {
                                                                                    <li class="list-inline-item"><a class="nav-link" href="@Url.Action("Plantilla", "Plantillas")">Listado</a></li>
                                                                                }
                                                                                if (ActionPlantillasOpc)
                                                                                {
                                                                                    <li class="list-inline-item"><a class="nav-link" href="#">Más opciones</a></li>
                                                                                }
                                                                            }
                                                                        </ul>
                                                                    </div>
                                                                </nav>
                                                            </li>
                                                                                }
                                                                                if (perfilModulo.Modulo.Nombre == "Reportes")
                                                                                {
                                                                                    <li class="nav-item" id="">
                                                                                        <a class="nav-link" href="@Url.Action("GetAll", "Reporte")">Reportes</a>
                                                                                        <nav id="survey-hover">
                                                                                            <div class="container-fluid px-lg-5">
                                                                                                <ul class="navbar-submenu list-inline">
                                                                                                    @{
                                                                                                        if (ActionReportesCrear == true)
                                                                                                        {
                                                                                                            <li class="list-inline-item"><a class="nav-link" href="#">Crear</a></li>
                                                                                                        }
                                                                                                        if (ActionReportesListar == true)
                                                                                                        {
                                                                                                            <li class="list-inline-item"><a class="nav-link" href="@Url.Action("GetAll", "Reporte")">Listado</a></li>
                                                                                                        }
                                                                                                        if (ActionReportesOpc == true)
                                                                                                        {
                                                                                                            <li class="list-inline-item"><a class="nav-link" href="#">Más opciones</a></li>
                                                                                                        }
                                                                                                    }
                                                                                                </ul>
                                                                                            </div>
                                                                                        </nav>
                                                                                    </li>
                                                                                                        }
                                                                                                        if (perfilModulo.Modulo.Nombre == "Base de datos")
                                                                                                        {
                                                                                                            <li class="nav-item" id="">
                                                                                                                <a class="nav-link" href="@Url.Action("GetAll", "BD")">Bases de datos</a>
                                                                                                                <nav id="survey-hover">
                                                                                                                    <div class="container-fluid px-lg-5">
                                                                                                                        <ul class="navbar-submenu list-inline">
                                                                                                                            @{
                                                                                                                                if (ActionBDCrear == true)
                                                                                                                                {
                                                                                                                                    <li class="list-inline-item"><a class="nav-link" href="@Url.Action("", "")">Crear</a></li>
                                                                                                                                }
                                                                                                                                if (ActionBDListar == true)
                                                                                                                                {
                                                                                                                                    <li class="list-inline-item"><a class="nav-link" href="@Url.Action("GetAll", "BD")">Listado</a></li>
                                                                                                                                }
                                                                                                                                if (ActionBDOpc == true)
                                                                                                                                {
                                                                                                                                    <li class="list-inline-item"><a class="nav-link" href="#">Más opciones</a></li>
                                                                                                                                }
                                                                                                                            }
                                                                                                                        </ul>
                                                                                                                    </div>
                                                                                                                </nav>
                                                                                                            </li>
                                                                                                                                }
                                                                                                                                if (perfilModulo.Modulo.Nombre == "Usuarios")
                                                                                                                                {
                                                                                                                                    <li class="nav-item" id="">
                                                                                                                                        <a class="nav-link" href="@Url.Action("GetAll", "Administrador")">Usuarios</a>
                                                                                                                                        <nav id="survey-hover">
                                                                                                                                            <div class="container-fluid px-lg-5">
                                                                                                                                                <ul class="navbar-submenu list-inline">
                                                                                                                                                    @{
                                                                                                                                                        if (ActionUsuariosCrear == true)
                                                                                                                                                        {
                                                                                                                                                            <li class="list-inline-item"><a class="nav-link" href="@Url.Action("Add", "Administrador")">Crear</a></li>
                                                                                                                                                        }
                                                                                                                                                        if (ActionUsuariosListar == true)
                                                                                                                                                        {
                                                                                                                                                            <li class="list-inline-item"><a class="nav-link" href="@Url.Action("GetAll", "Administrador")">Listado</a></li>
                                                                                                                                                        }
                                                                                                                                                        if (ActionUsuariosOpc == true)
                                                                                                                                                        {
                                                                                                                                                            <li class="list-inline-item"><a class="nav-link" href="#">Más opciones</a></li>
                                                                                                                                                        }
                                                                                                                                                    }
                                                                                                                                                </ul>
                                                                                                                                            </div>
                                                                                                                                        </nav>
                                                                                                                                    </li>
                                                                                                                                                        }
                                                                                                                                                        if (perfilModulo.Modulo.Nombre == "Empresas")
                                                                                                                                                        {
                                                                                                                                                            <li class="nav-item" id="">
                                                                                                                                                                <a class="nav-link" href="@Url.Action("GetAll", "Empresa")">Empresa</a>
                                                                                                                                                                <nav id="survey-hover">
                                                                                                                                                                    <div class="container-fluid px-lg-5">
                                                                                                                                                                        <ul class="navbar-submenu list-inline">
                                                                                                                                                                            @{
                                                                                                                                                                                if (ActionEmpresasCrear == true)
                                                                                                                                                                                {
                                                                                                                                                                                    <li class="list-inline-item"><a class="nav-link" href="@Url.Action("Add", "Empresa")">Crear</a></li>
                                                                                                                                                                                }
                                                                                                                                                                                if (ActionEmpresasListar == true)
                                                                                                                                                                                {
                                                                                                                                                                                    <li class="list-inline-item"><a class="nav-link" href="@Url.Action("GetAll", "Empresa")">Listado</a></li>
                                                                                                                                                                                }
                                                                                                                                                                                if (ActionEmpresaOpc == true)
                                                                                                                                                                                {
                                                                                                                                                                                    <li class="list-inline-item"><a class="nav-link" href="@Url.Action("GetAllEliminados", "Empresas")">Administrar empresas eliminadas</a></li>
                                                                                                                                                                                }
                                                                                                                                                                            }
                                                                                                                                                                        </ul>
                                                                                                                                                                    </div>
                                                                                                                                                                </nav>
                                                                                                                                                            </li>
                                                                                                                                                                                    }
                                                                                                                                                                                }
                        }
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("Login", "LoginAdmin")">Cerrar sesión</a>
                        </li>

                        <!--Fin seccion permisos-->
                    </ul>
                </div>
            </nav>
        </header>


        <section id="page-title">
            <div class="container-fluid px-lg-5">
                <img class="img-fluid" src="~/img/icon-reports.png"> <h1 class="title-page-survey">Reporte de respuestas afirmativas Clima Laboral</h1>
            </div><!--.container-fluid-->
        </section>

        

        <section id="content">
            <div class="content-wrap">
                <div class="container-fluid px-lg-5">
                    <div class="row">
                        <div class="col-lg-8">
                            <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
                                <div class="row">
                                    <div class="col-md-6" style="margin-bottom:20px;">
                                        <select id="opc" class="form-control">
                                            <option value="0">Selecciona una opción</option>
                                            <option value="1">Reporte global</option>
                                            <optgroup label="Reporte por unidad de negocio">
                                                <option value="Autofinanciamiento">Autofinanciamiento</option>
                                                <option value="Automotriz">Automotriz</option>
                                                <option value="Corporativo">Corporativo</option>
                                                <option value="Financiera">Financiera</option>
                                                <option value="Internacional">Internacional</option>
                                                <option value="Manufactura">Manufactura</option>
                                                <option value="Otros negocios">Otros negocios</option>
                                                <option value="Presidencia">Presidencia</option>
                                                <option value="Turismo">Turismo</option>
                                            </optgroup>
                                        </select>
                                    </div>
                                </div>
                                <hr />

                               
                                <table id="myTable" class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th class="text-center" scope="col">
                                                <strong>IdPregunta</strong>
                                            </th>
                                            <th class="text-center" scope="col">
                                                <strong>Pregunta</strong>
                                            </th>
                                            <th class="text-center" scope="col">
                                                <strong>Enfoque</strong>
                                            </th>
                                            <th class="text-center" scope="col">
                                                <strong>Total de respuestas</strong>
                                            </th>
                                            <th class="text-center" scope="col">
                                                <strong>Total de Respuestas favorables</strong>
                                            </th>
                                            <th class="text-center" scope="col">
                                                <strong>Porcentaje de respuestas favorables</strong>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (ML.Preguntas item in Model.ListadoPreguntas)
                                        {
                                            <tr>
                                                <td class="text-center">
                                                    @item.IdPregunta
                                                </td>
                                                <td class="text-center">
                                                    @item.Pregunta
                                                </td>
                                                <td class="text-center">
                                                    @item.Enfoque
                                                </td>
                                                <td class="text-center">
                                                    @item.TotalPreguntas
                                                </td>
                                                <td class="text-center">
                                                    @item.TotalRespuestasFavorables
                                                </td>
                                                <td class="text-center">
                                                    @item.Porcentaje %
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>

                            </div>
                        </div><!--.col-lg-8-->
                    </div><!--.row-->
                </div><!--.container-->
            </div><!--.content-wrap-->
        </section>



    </main><!--#wrapper-->
    <footer id="footer">
        <div class="container-fluid px-lg-5">
            <div class="row">
                <div class="col-6">
                    <p class="copyrights"><span class="color">DIAGNOSTIC 4U</span> 2020</p>
                </div>
                <div class="col-6">
                    <p class="text-support"><i class="far fa-life-ring"></i> SOPORTE</p>
                </div>
            </div>
        </div>
    </footer>
    <script>
        function GetDashBoard() {
            window.location.href = "/DashBoard/DashBoard"
        }
    </script>

    <script src="~/scripts/jquery-3.4.1.min.js"></script>


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js" defer></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js" defer></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap4.min.js" defer></script>

    @*<link href="https://cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css" rel="stylesheet" />*@
    <script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.4.0/js/dataTables.buttons.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.4.0/js/buttons.flash.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.4.0/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.4.0/js/buttons.print.min.js"></script>
    <link href="https://cdn.datatables.net/buttons/1.4.0/css/buttons.dataTables.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script src="https://cdn.rawgit.com/bpampuch/pdfmake/0.1.27/build/pdfmake.min.js"></script>
    <script src="https://cdn.rawgit.com/bpampuch/pdfmake/0.1.27/build/vfs_fonts.js"></script>
    <script>
    $(document).ready(function () {
        //S$('#myTable').DataTable();
        $(document).ready(function () {
            $('#myTable').DataTable({
                dom: 'Bfrtip',
                buttons: [
                    'copy', 'csv', 'excel', 'pdf', 'print'
                ]
            });
        });

    });

    $('#opc').change(function () {

        var valor = $('#opc').val();

        if (valor == 0) {
           
        }
        if (valor == 1) {

            swal({
                title: "Procesando...",
                text: "Espere...",
                imageUrl: "",
                icon: "/images/load.gif",
                showConfirmButton: false,
                allowOutsideClick: false
            });
            $('.swal-icon').addClass('load');
            $('.load').css('width', '25%');
            $('.load').css('height', '25%');
            $('swal-button-container').css('display', 'none');


            $.ajax({
                url: '@Url.Action("GetPorcentajeAfirmativasGlobal", "Reporte")',
                success: function (data) {

                    console.log(data);

                    $.extend($.fn.dataTable.defaults, {
                        buttons: ['copy', 'csv', 'excel', 'pdf']
                    });

                    var table = $('#myTable').DataTable({
                        data: data,
                        dom: 'Bfrtip',
                        destroy: true,
                        buttons: [
                            'copy', 'csv', 'excel', 'pdf'
                        ],
                        columns: [
                            { 'data': 'IdPregunta' },
                            { 'data': 'Pregunta' },
                            { 'data': 'Enfoque' },
                            { 'data': 'TotalPreguntas' },
                            { 'data': 'TotalRespuestasFavorables' },
                            { 'data': 'Porcentaje' }
                        ],
                        initComplete: function () {
                            $('td').addClass('text-center');
                            
                            //this.buttons().container().appendTo($('#myTable_wrapper .col-sm-6:eq(0)'));
                        }
                    });
                    swal.close();
                }
            });
        }

        if (valor != 1 && valor != 0) {
            //window.location.href = "/Reporte/GetPorcentajeAfirmativasByUNegocio?UNegocio=" + valor;

            swal({
                title: "Procesando...",
                text: "Espere...",
                imageUrl: "",
                icon: "/images/load.gif",
                showConfirmButton: false,
                allowOutsideClick: false
            });
            $('.swal-icon').addClass('load');
            $('.load').css('width', '25%');
            $('.load').css('height', '25%');
            $('swal-button-container').css('display', 'none');



            let Company = {
                companyname: valor
            };

            $.ajax({
                url: '@Url.Action("GetPorcentajeAfirmativasByUNegocio", "Reporte")',
                data: Company,
                success: function (data) {

                    if (data[0] == null) {
                        swal("No se obtuvieron resultados", "", "warning");
                        $("#myTable tbody").remove();
                    }
                    else {


                        console.log(data);

                        $.extend($.fn.dataTable.defaults, {
                            buttons: ['copy', 'csv', 'excel', 'pdf']
                        });

                        var table = $('#myTable').DataTable({
                            data: data,
                            dom: 'Bfrtip',
                            destroy: true,
                            buttons: [
                                'copy', 'csv', 'excel', 'pdf'
                            ],
                            columns: [
                                { 'data': 'IdPregunta' },
                                { 'data': 'Pregunta' },
                                { 'data': 'Enfoque' },
                                { 'data': 'TotalPreguntas' },
                                { 'data': 'TotalRespuestasFavorables' },
                                { 'data': 'Porcentaje' }
                            ],
                            initComplete: function () {
                                $('td').addClass('text-center');
                                //this.buttons().container().appendTo($('#myTable_wrapper .col-sm-6:eq(0)'));
                            }
                        });
                        swal.close();
                    }
                }
            });
        }

    });
    </script>

</body>
</html>


