@{
    Layout = null;
    ViewBag.Perfil = Session["PerfilAdminLog"];
}
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="~/css/bootstrap.min.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" href="~/css/sweetalert/custom-administrator.css">
    <!-- Animate CSS -->
    <link rel="stylesheet" type="text/css" href="~/css/animate.min.css">
    <!--Font Awesome -->
    <link rel="stylesheet" type="text/css" href="~/css/all.min.css">
    <!-- include summernote css/js -->
    <link href="~/css/summernote.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <!-- Title -->
    <title>Diagnostic 4U</title>
    <style type="text/css">
        .jumbotron {
            background-color: #111657;
        }
    </style>
</head>
<body>

    <main id="wrapper">

        <div id="top-bar">
            <div class="container-fluid px-lg-5">
                <div class="row">

                    <div class="col-4 col-sm-5 col-md-5">
                        <img src="~/img/logo.png" class="logo-header" alt="Logo" onclick="GetDashBoard()">
                    </div>

                    <div class="col-8 col-sm-7 col-md-7">
                        <div class="user-info">
                            <span class="color">Hola</span>, @Session["AdminLog"]  @{ foreach (var item in ViewBag.Perfil)
                                { <span class="position"> / @item  </span> } } <img src="~/img/icon-user-male.jpg" class="avatar-header" width="50" height="50" alt="Avatar">
                        </div><!--.user-info-->
                    </div>
                </div><!--.row-->
            </div><!--.container-fluid-->
        </div>
        <header class="mb-4" id="header">
            <nav class="navbar navbar-expand-lg navbar-light px-lg-5">
                <a class="navbar-brand" href="#"></a>
                <button class="navbar-toggler" aria-expanded="false" aria-controls="navbarHeader" aria-label="Toggle navigation" type="button" data-target="#navbarHeader" data-toggle="collapse">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarHeader">
                    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">

                        <!--inicio seccion permisos-->
                        @{
                            //Validar acciones
                            var ActionEncuestasListar = false;
                            var ActionEncuestasCrear = false;
                            var ActionEncuestasOpc = false;

                            var ActionPlantillasListar = false;
                            var ActionPlantillasCrear = false;
                            var ActionPlantillasOpc = false;

                            var ActionReportesListar = false;
                            var ActionReportesCrear = false;
                            var ActionReportesOpc = false;

                            var ActionBDListar = false;
                            var ActionBDCrear = false;
                            var ActionBDOpc = false;

                            var ActionUsuariosListar = false;
                            var ActionUsuariosCrear = false;
                            var ActionUsuariosOpc = false;

                            var ActionEmpresasListar = false;
                            var ActionEmpresasCrear = false;
                            var ActionEmpresaOpc = false;

                            ViewBag.Permisos = Session["Permisos"];

                            foreach (ML.PerfilModulo item in ViewBag.Permisos)
                            {
                                if (item.Modulo.Nombre == "Encuestas" && item.PerfilModuloAccion.Accion == "ListarEncuesta")
                                {
                                    ActionEncuestasListar = true;
                                }
                                if (item.Modulo.Nombre == "Encuestas" && item.PerfilModuloAccion.Accion == "CrearEncuesta")
                                {
                                    ActionEncuestasCrear = true;
                                }
                                if (item.Modulo.Nombre == "Encuestas" && item.PerfilModuloAccion.Accion == "OpcEncuesta")
                                {
                                    ActionEncuestasOpc = true;
                                }
                                if (item.Modulo.Nombre == "Plantillas" && item.PerfilModuloAccion.Accion == "ListarPlantilla")
                                {
                                    ActionPlantillasListar = true;
                                }
                                if (item.Modulo.Nombre == "Plantillas" && item.PerfilModuloAccion.Accion == "CrearPlantilla")
                                {
                                    ActionPlantillasCrear = true;
                                }
                                if (item.Modulo.Nombre == "Plantillas" && item.PerfilModuloAccion.Accion == "OpcPlantila")
                                {
                                    ActionPlantillasOpc = true;
                                }
                                if (item.Modulo.Nombre == "Reportes" && item.PerfilModuloAccion.Accion == "ListarReporte")
                                {
                                    ActionReportesListar = true;
                                }
                                if (item.Modulo.Nombre == "Reportes" && item.PerfilModuloAccion.Accion == "CrearReporte")
                                {
                                    ActionReportesCrear = true;
                                }
                                if (item.Modulo.Nombre == "Reportes" && item.PerfilModuloAccion.Accion == "OpcReporte")
                                {
                                    ActionReportesOpc = true;
                                }
                                if (item.Modulo.Nombre == "Base de datos" && item.PerfilModuloAccion.Accion == "ListarBD")
                                {
                                    ActionBDListar = true;
                                }
                                if (item.Modulo.Nombre == "Base de datos" && item.PerfilModuloAccion.Accion == "CrearBD")
                                {
                                    ActionBDCrear = true;
                                }
                                if (item.Modulo.Nombre == "Base de datos" && item.PerfilModuloAccion.Accion == "OpcBD")
                                {
                                    ActionBDOpc = true;
                                }
                                if (item.Modulo.Nombre == "Usuarios" && item.PerfilModuloAccion.Accion == "ListarUsuario")
                                {
                                    ActionUsuariosListar = true;
                                }
                                if (item.Modulo.Nombre == "Usuarios" && item.PerfilModuloAccion.Accion == "CrearUsuario")
                                {
                                    ActionUsuariosCrear = true;
                                }
                                if (item.Modulo.Nombre == "Usuarios" && item.PerfilModuloAccion.Accion == "OpcUsuario")
                                {
                                    ActionUsuariosOpc = true;
                                }
                                if (item.Modulo.Nombre == "Empresass" && item.PerfilModuloAccion.Accion == "ListarEmpresa")
                                {
                                    ActionEmpresasListar = true;
                                }
                                if (item.Modulo.Nombre == "Empresas" && item.PerfilModuloAccion.Accion == "CrearEmpresa")
                                {
                                    ActionEmpresasCrear = true;
                                }
                                if (item.Modulo.Nombre == "Empresas" && item.PerfilModuloAccion.Accion == "OpcEmpresa")
                                {
                                    ActionEmpresaOpc = true;
                                }
                            }


                            //Validar modulos
                            ViewBag.Modulos = Session["Modulos"];

                            foreach (ML.PerfilModulo perf in ViewBag.Modulos)
                            {
                                ML.PerfilModulo perfilModulo = new ML.PerfilModulo();
                                perfilModulo.Modulo = new ML.Modulo();

                                perfilModulo.Modulo.Nombre = perf.Modulo.Nombre;

                                if (perfilModulo.Modulo.Nombre == "Encuestas")
                                {
                                    <li class="nav-item" id="survey">
                                        <a class="nav-link" href="#">Encuestas</a>
                                        <nav id="survey-hover">
                                            <div class="container-fluid px-lg-5">
                                                <ul class="navbar-submenu list-inline">
                                                    @{
                                                        if (ActionEncuestasCrear == true)
                                                        {
                                                            <li class="list-inline-item"><a class="nav-link" href="#">Crear</a></li>
                                                        }
                                                        if (ActionEncuestasListar == true)
                                                        {
                                                            <li class="list-inline-item"><a class="nav-link" href="#">Listado</a></li>
                                                        }
                                                        if (ActionEncuestasOpc == true)
                                                        {
                                                            <li class="list-inline-item"><a class="nav-link" href="#">Más opciones</a></li>
                                                        }
                                                    }
                                                </ul>
                                            </div>
                                        </nav>
                                    </li>
                                                        }
                                                        if (perfilModulo.Modulo.Nombre == "Plantillas")
                                                        {
                                                            <li class="nav-item" id="">
                                                                <a class="nav-link" href="@Url.Action("Plantilla", "Plantillas")">Plantillas</a>
                                                                <nav id="survey-hover">
                                                                    <div class="container-fluid px-lg-5">
                                                                        <ul class="navbar-submenu list-inline">
                                                                            @{
                                                                                if (ActionPlantillasCrear == true)
                                                                                {
                                                                                    <li class="list-inline-item"><a class="nav-link" href="@Url.Action("Create", "Plantillas")">Crear</a></li>
                                                                                }
                                                                                if (ActionPlantillasListar)
                                                                                {
                                                                                    <li class="list-inline-item"><a class="nav-link" href="@Url.Action("Plantilla", "Plantillas")">Listado</a></li>
                                                                                }
                                                                                if (ActionPlantillasOpc)
                                                                                {
                                                                                    <li class="list-inline-item"><a class="nav-link" href="#">Más opciones</a></li>
                                                                                }
                                                                            }
                                                                        </ul>
                                                                    </div>
                                                                </nav>
                                                            </li>
                                                                                }
                                                                                if (perfilModulo.Modulo.Nombre == "Reportes")
                                                                                {
                                                                                    <li class="nav-item" id="">
                                                                                        <a class="nav-link" href="@Url.Action("GetAll", "Reporte")">Reportes</a>
                                                                                        <nav id="survey-hover">
                                                                                            <div class="container-fluid px-lg-5">
                                                                                                <ul class="navbar-submenu list-inline">
                                                                                                    @{
                                                                                                        if (ActionReportesCrear == true)
                                                                                                        {
                                                                                                            <li class="list-inline-item"><a class="nav-link" href="#">Crear</a></li>
                                                                                                        }
                                                                                                        if (ActionReportesListar == true)
                                                                                                        {
                                                                                                            <li class="list-inline-item"><a class="nav-link" href="@Url.Action("GetAll", "Reporte")">Listado</a></li>
                                                                                                        }
                                                                                                        if (ActionReportesOpc == true)
                                                                                                        {
                                                                                                            <li class="list-inline-item"><a class="nav-link" href="#">Más opciones</a></li>
                                                                                                        }
                                                                                                    }
                                                                                                </ul>
                                                                                            </div>
                                                                                        </nav>
                                                                                    </li>
                                                                                                        }
                                                                                                        if (perfilModulo.Modulo.Nombre == "Base de datos")
                                                                                                        {
                                                                                                            <li class="nav-item" id="">
                                                                                                                <a class="nav-link" href="@Url.Action("GetAll", "BD")">Bases de datos</a>
                                                                                                                <nav id="survey-hover">
                                                                                                                    <div class="container-fluid px-lg-5">
                                                                                                                        <ul class="navbar-submenu list-inline">
                                                                                                                            @{
                                                                                                                                if (ActionBDCrear == true)
                                                                                                                                {
                                                                                                                                    <li class="list-inline-item"><a class="nav-link" href="@Url.Action("", "")">Crear</a></li>
                                                                                                                                }
                                                                                                                                if (ActionBDListar == true)
                                                                                                                                {
                                                                                                                                    <li class="list-inline-item"><a class="nav-link" href="@Url.Action("GetAll", "BD")">Listado</a></li>
                                                                                                                                }
                                                                                                                                if (ActionBDOpc == true)
                                                                                                                                {
                                                                                                                                    <li class="list-inline-item"><a class="nav-link" href="#">Más opciones</a></li>
                                                                                                                                }
                                                                                                                            }
                                                                                                                        </ul>
                                                                                                                    </div>
                                                                                                                </nav>
                                                                                                            </li>
                                                                                                                                }
                                                                                                                                if (perfilModulo.Modulo.Nombre == "Usuarios")
                                                                                                                                {
                                                                                                                                    <li class="nav-item" id="">
                                                                                                                                        <a class="nav-link" href="@Url.Action("GetAll", "Administrador")">Usuarios</a>
                                                                                                                                        <nav id="survey-hover">
                                                                                                                                            <div class="container-fluid px-lg-5">
                                                                                                                                                <ul class="navbar-submenu list-inline">
                                                                                                                                                    @{
                                                                                                                                                        if (ActionUsuariosCrear == true)
                                                                                                                                                        {
                                                                                                                                                            <li class="list-inline-item"><a class="nav-link" href="@Url.Action("Add", "Administrador")">Crear</a></li>
                                                                                                                                                        }
                                                                                                                                                        if (ActionUsuariosListar == true)
                                                                                                                                                        {
                                                                                                                                                            <li class="list-inline-item"><a class="nav-link" href="@Url.Action("GetAll", "Administrador")">Listado</a></li>
                                                                                                                                                        }
                                                                                                                                                        if (ActionUsuariosOpc == true)
                                                                                                                                                        {
                                                                                                                                                            <li class="list-inline-item"><a class="nav-link" href="#">Más opciones</a></li>
                                                                                                                                                        }
                                                                                                                                                    }
                                                                                                                                                </ul>
                                                                                                                                            </div>
                                                                                                                                        </nav>
                                                                                                                                    </li>
                                                                                                                                                        }
                                                                                                                                                        if (perfilModulo.Modulo.Nombre == "Empresas")
                                                                                                                                                        {
                                                                                                                                                            <li class="nav-item" id="">
                                                                                                                                                                <a class="nav-link" href="@Url.Action("GetAll", "Empresa")">Empresa</a>
                                                                                                                                                                <nav id="survey-hover">
                                                                                                                                                                    <div class="container-fluid px-lg-5">
                                                                                                                                                                        <ul class="navbar-submenu list-inline">
                                                                                                                                                                            @{
                                                                                                                                                                                if (ActionEmpresasCrear == true)
                                                                                                                                                                                {
                                                                                                                                                                                    <li class="list-inline-item"><a class="nav-link" href="@Url.Action("Add", "Empresa")">Crear</a></li>
                                                                                                                                                                                }
                                                                                                                                                                                if (ActionEmpresasListar == true)
                                                                                                                                                                                {
                                                                                                                                                                                    <li class="list-inline-item"><a class="nav-link" href="@Url.Action("GetAll", "Empresa")">Listado</a></li>
                                                                                                                                                                                }
                                                                                                                                                                                if (ActionEmpresaOpc == true)
                                                                                                                                                                                {
                                                                                                                                                                                    <li class="list-inline-item"><a class="nav-link" href="@Url.Action("GetAllEliminados", "Empresas")">Administrar empresas eliminadas</a></li>
                                                                                                                                                                                }
                                                                                                                                                                            }
                                                                                                                                                                        </ul>
                                                                                                                                                                    </div>
                                                                                                                                                                </nav>
                                                                                                                                                            </li>
                                                                                                                                                                                    }
                                                                                                                                                                                }
                        }
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("Login", "LoginAdmin")">Cerrar sesión</a>
                        </li>

                        <!--Fin seccion permisos-->
                    </ul>
                </div>
            </nav>
        </header>
        <section id="page-title">
            <div class="container-fluid px-lg-5">
                <h1 class="title-page-title">Bienvenido <span>Selecciona cualquiera de las herramientas para que comiences:</span></h1>
            </div><!--.container-fluid-->
        </section>

        <section id="content">
            <div class="content-wrap">
                <div class="container-fluid px-lg-5">
                    <div class="row">
                    <div class="form-group">
                        <input type="button" name="btn" value="Obtener datos" class="btn btn-success" onclick="getData();" />
                    </div>
                        <div id="FillData" ng-app="myApp1" ng-controller="myCtrl" class="col-sm-12 col-md-12 col-lg-12">
                            <table id="myTable" class="table table-hover table-responsive">
                                <thead>
                                    <tr id="mergePreguntas">
                                        <th class="text-center" scope="col">IdUsuario</th>
                                        <th class="text-center" scope="col">Nombre</th>
                                        <th class="text-center" scope="col">Apellido Paterno</th>
                                        <th class="text-center" scope="col">Apellido Materno</th>
                                        <th class="text-center" scope="col">Puesto</th>
                                        <th class="text-center" scope="col">FechaNacimiento</th>
                                        <th class="text-center" scope="col">FechaAntiguedad</th>
                                        <th class="text-center" scope="col">Sexo</th>
                                        <th class="text-center" scope="col">Email</th>
                                        <th class="text-center" scope="col">TipoFuncion</th>
                                        <th class="text-center" scope="col">CondicionTrabajo</th>
                                        <th class="text-center" scope="col">GradoAcademico</th>
                                        <th class="text-center" scope="col">UnidadNegocio</th>
                                        <th class="text-center" scope="col">DivisionMarca</th>
                                        <th class="text-center" scope="col">AreaAgencia</th>
                                        <th class="text-center" scope="col">Departamento</th>
                                        <th class="text-center" scope="col">Subdepartamento</th>
                                        <th class="text-center" scope="col">EmpresaContratante</th>
                                        <th class="text-center" scope="col">IdResponsableRH</th>
                                        <th class="text-center" scope="col">NombreResponsableRH</th>
                                        <th class="text-center" scope="col">IdJefe</th>
                                        <th class="text-center" scope="col">NombreJefe</th>
                                        <th class="text-center" scope="col">PuestoJefe</th>
                                        <th class="text-center" scope="col">IdResponsableEstructura</th>
                                        <th class="text-center" scope="col">NombreResponsableEstructura</th>
                                        <th class="text-center" scope="col">RangoAntiguedad</th>
                                        <th class="text-center" scope="col">RangoEdad</th>
                                        <th class="text-center" scope="col">EstatusUsuario</th>
                                        <th class="text-center" scope="col">CampoNumerico_1</th>
                                        <th class="text-center" scope="col">CampoNumerico_2</th>
                                        <th class="text-center" scope="col">CampoNumerico_3</th>
                                        <th class="text-center" scope="col">CampoTexto_1</th>
                                        <th class="text-center" scope="col">CampoTexto_1</th>
                                        <th class="text-center" scope="col">CampoTexto_1</th>
                                        <th class="text-center" scope="col">ClaveAcceso</th>
                                        <th class="text-center" scope="col">EstatusEncuesta</th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div><!--.row-->
                </div><!--.container-->

            </div><!--.content-wrap-->

        </section>

    </main><!--#wrapper-->
    
    <footer id="footer">
        <div class="container-fluid px-lg-5">
            <div class="row">
                <div class="col-6">
                    <p class="copyrights"><span class="color">DIAGNOSTIC 4U</span> 2020</p>
                </div>
                <div class="col-6">
                    <p class="text-support"><i class="far fa-life-ring"></i> SOPORTE</p>
                </div>
            </div>
        </div>
    </footer>

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script type="text/javascript" src="~/scripts/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="~/scripts/popper.min.js"></script>
    <script type="text/javascript" src="~/scripts/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

    <link href="https://cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css" rel="stylesheet" />
    <script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.4.0/js/dataTables.buttons.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.4.0/js/buttons.flash.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.4.0/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.4.0/js/buttons.print.min.js"></script>
    <link href="https://cdn.datatables.net/buttons/1.4.0/css/buttons.dataTables.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script src="https://cdn.rawgit.com/bpampuch/pdfmake/0.1.27/build/pdfmake.min.js"></script>
    <script src="https://cdn.rawgit.com/bpampuch/pdfmake/0.1.27/build/vfs_fonts.js"></script>

    <script>
        var app = angular.module('myApp1', []);
        app.controller('myCtrl', function ($scope, $http) {
        swal({
            title: "Procesando...",
            text: "Espere...",
            imageUrl: "",
            icon: "/images/load.gif",
            closeOnClickOutside: false,
            showConfirmButton: false,
            allowOutsideClick: false
        });
        $('.swal-icon').addClass('load');
        $('.load').css('width', '25%');
        $('.load').css('height', '25%');
        $('swal-button-container').css('display', 'none');
          $scope.num1 = 5;
          $scope.num2 = 6;
          $scope.jsonData = null;
            $http.get("@Url.Action("GetData", "Encuesta")", { params: { "IdEncuesta": 2186 } }).then((data) => {
              $scope.jsonData = data.data.Data;
              var cols = [];
              var exampleRecord = data.data.Data[0];
              var keys = Object.keys(exampleRecord);
              var prodId = 2186;
              let model = {
                  idEncuesta: prodId
              }
              $.ajax({
                  url: '@Url.Action("GetPreguntas", "Encuesta")',
                  data: model,
                  complete: function (Response) {
                      if (Response != null) {
                          console.log(Response.responseJSON.Data);
                          for (var i = 0; i < Response.responseJSON.Data.length; i++) {
                              $('#mergePreguntas').append(
                                 '<th class="text-center" scope="col">' + Response.responseJSON.Data[i].Pregunta + '</th>'
                              );
                          }
                          $('th').css('white-space', 'nowrap');
                      }
                      $('#myTable').DataTable().destroy();
                      var table = $('#myTable').DataTable({
                          //columns: cols,
                          dom: 'Bfrtip',
                          buttons: [
                              'copy', 'csv', 'excel'
                          ]
                      });
                      table.rows.add(data.data.Data).draw();
                      swal('Finalizado', '', 'success');
                  }
              });
          }).catch((err) => {
              console.log(err);
              swal('Algo ha salido mal :(', '', 'info');
          });
        });
    </script>
    <script>
        function getData() {
            swal({
                title: "Procesando...",
                text: "Espere...",
                imageUrl: "",
                icon: "/images/load.gif",
                closeOnClickOutside: false,
                showConfirmButton: false,
                allowOutsideClick: false
            });
            $('.swal-icon').addClass('load');
            $('.load').css('width', '25%');
            $('.load').css('height', '25%');
            $('swal-button-container').css('display', 'none');
            $.ajax({
                url: '@Url.Action("GetData", "Encuesta")',
                type: 'GET',
                data: { IdEncuesta: 2186 },
                success: function (data) {
                    if (data != null) {
                        console.log(data);
                    }
                    swal('Finalizado', '', 'success');
                },
                error: function (err, XHR, d) {
                    console.clear();
                    console.log(err);
                    console.log(XHR);
                    console.log(d);
                }
            });
        }
    </script>



    <!-- Summernote JS -->
    <script src="~/scripts/summernote.min.js"></script>
    <!-- Custom JS -->
    <script type="text/javascript" src="~/scripts/custom.js"></script>
    <style>
        .tooltip {
            opacity: 1 !important;
        }
        /* Tooltip container */
        .tooltip {
            position: relative;
        }

            /* Tooltip text */
            .tooltip .tooltiptext {
                visibility: hidden;
                width: 200px;
                background-color: black;
                color: #fff;
                text-align: center;
                padding: 5px 0;
                border-radius: 6px;
                /* Position the tooltip text - see examples below! */
                position: absolute;
                z-index: 1;
            }

            /* Show the tooltip text when you mouse over the tooltip container */
            .tooltip:hover .tooltiptext {
                visibility: visible;
            }
    </style>
</body>
</html>