@model ML.Result
@{
    ViewBag.Title = "GetDepartamentoByIdArea";
    Layout = "~/Views/Admin/Contenido.cshtml";
}

<section id="page-title">
    <div class="container-fluid px-lg-5">
        <img class="img-fluid" src="~/img/icon-enterprises.png" /><h1 onclick="" class="title-page-survey">Empresas / Area / Departamento / <span>Listado</span></h1>
    </div>
</section>

<section id="content">
    <div class="content-wrap">
        <div class="container-fluid px-lg-5">
            <div class="row">
                <div class="col-lg-8">
                    <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">


                        @{
                            ViewBag.Permisos = Session["Permisos"];

                            foreach (ML.PerfilModulo item in ViewBag.Permisos)
                            {
                                if (item.Modulo.Nombre == "Empresas" && item.PerfilModuloAccion.Accion == "CrearEmpresa")
                                {
                                    <br />
                                    <div class="text-center">
                                        <a href="" class="btn btn-secondary btn-action btn-sm" data-toggle="modal" data-target="#modalAdd">
                                            Agregar Departamento<i class="fas fa-plus-square ml-1"></i>
                                        </a>
                                    </div>
                                    <br />
                                    <div class="text-center">
                                        <a href="" onclick="Download()" class="btn btn-secondary btn-action btn-sm" data-toggle="modal" data-target="">
                                            Descargar layout de Departamentos<i class="fas fa-file-excel ml-1"></i>
                                        </a>
                                    </div>
                                    <br />
                                    <div class="text-center">
                                        <a href="" class="btn btn-secondary btn-action btn-sm" data-toggle="modal" data-target="#modalAddDepartamentos">
                                            Agregar Departamentos masivamente<i class="fas fa-file-excel ml-1"></i>
                                        </a>
                                    </div>
                                    <br />
                                }
                                else
                                {

                                }
                            }
                        }

                        
                        @*Mostar tabla con los datos guardados*@
                        <table id="tableDepartamento" class="table table-hover table-responsive">
                            <caption>Lista de los departamentos que pertenecen al area selecionada</caption>
                             <thead>
                                <tr>
                                    <th class="text-center" scope="col">
                                        IdDepartamento
                                    </th>
                                    <th class="text-center" scope="col">
                                        Nombre del Departamento
                                    </th>
                                    <th class="text-center" scope="col">
                                        Area a la que pertenece
                                    </th>
                                    <th class="text-center" scope="col" style="display:block;">
                                        Empresa a la que pertenece
                                    </th>
                                    <th class="text-center" scope="col">
                                        Estatus         
                                    </th>
                                    <th class="text-center" scope="col">
                                        Editar
                                    </th>
                                    <th class="text-center" scope="col">
                                        Eliminar
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (ML.Departamento departamento in Model.Objects)
                                {
                                    <tr>
                                        <td class="text-center">
                                            @departamento.IdDepartamento
                                        </td>
                                        <td class="text-center IsEditable">
                                            @departamento.Nombre
                                        </td>
                                        <td class="text-center">
                                            @departamento.Area.Nombre
                                        </td>
                                        <td class="text-center">
                                            @departamento.Area.Company.CompanyName
                                        </td>
                                        <td class="text-center">
                                            @if (departamento.IdEstatus == 1)
                                            {
                                                <a href="@Url.Action("UpdateEstatusDepartamento", "Empresa", new { IdDepartamento = departamento.IdDepartamento, IdentitificadorEstatus = departamento.IdEstatus } )">
                                                    @*<input type="submit" name="name" value="Activo" class="btn btn-success" />*@
                                                    <button title="Cambia el estatus del administrador a Desactivado" type="button" class="btn btn-secondary btn-action estatus"><i class="fas fa-check"></i> Activo</button>
                                                </a>
                                            }
                                            else if (departamento.IdEstatus == 2)
                                            {
                                                <a href="@Url.Action("UpdateEstatusDepartamento", "Empresa", new { IdDepartamento = departamento.IdDepartamento, IdentitificadorEstatus = departamento.IdEstatus } )" title="">
                                                    @*<input type="submit" name="name" value="Desactivado" class="btn btn-danger" />*@
                                                    <button title="Cambia el estatus del administrador a Activo" type="button" class="btn btn-secondary btn-action estatus"><i class="fas fa-ban"></i> Desactivado</button>
                                                </a>
                                            }
                                        </td>
                                        <td>
                                            <div class="text-center buttonEditWrapper">
                                                <button value="@departamento.IdDepartamento" onclick="GetUpdateDepartamento($(this).val())" class="btn btn-secondary btn-action buttonEdit" data-toggle="modal" data-target="#modalEdit">
                                                    Edit<i class="fas fa-pencil-square-o ml-1"></i>
                                                </button>
                                            </div>
                                        </td>
                                        <td class="text-center">
                                            <button value="@departamento.IdDepartamento" onclick="DeleteDepartamento($(this).val());" type="button" class="btn btn-secondary btn-action"><i class="fas fa-trash-alt"></i> Eliminar</button>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


@*modal*@
<div class="wrapper-editor">
    <div class="row d-flex justify-content-center modalWrapper">
        
        <div class="modal fade addNewInputs" id="modalAdd" tabindex="-1" role="dialog" aria-labelledby="modalAdd"
             aria-hidden="true" data-backdrop="static" data-keyboard="false">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header text-center">
                        <h4 class="modal-title w-100 font-weight-bold text-primary ml-5">Agregar un nuevo departamento</h4>
                        <button type="button" class="close text-primary" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body mx-3">
                        <div class="md-form mb-5" id="mergeValidacion">
                            <label data-error="wrong" data-success="right" for="inputName">Nombre del nuevo departamento:</label>
                            <input onkeyup="validaDuplicadoDepartamento()" placeholder="Ingresa el nombre del Departamento" type="text" id="inputName" class="form-control validate NombreDpto txtNombreNewDepto">
                        </div>

                        <div class="md-form mb-5">
                            <label data-error="wrong" data-success="right" for="inputPosition">Estatus del departamento:</label>
                            <select class="form-control" id="DDLEstatus">
                                <option value="0">Selecciona una opcion</option>
                                <option value="1">Activo</option>
                                <option value="2">Inactivo</option>
                            </select>
                        </div>
                    </div>
                    <div class="modal-footer d-flex justify-content-center buttonAddFormWrapper">
                        <button onclick="AddDepartamento()" class="btn btn-outline-primary btn-block buttonAdd botonAgregaUnArea">
                            Agregar Departamento
                            <i class="fas fa-plus ml-1"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>


        @*modal agregar departamentos*@
        <div class="modal fade addNewInputs" id="modalAddDepartamentos" tabindex="-1" role="dialog" aria-labelledby="modalAddDepartamentos"
             aria-hidden="true" data-backdrop="static" data-keyboard="false">
            <div class="modal-dialog" role="document">
                @using (Html.BeginForm("BulkDepartamento", "Empresa", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    <div class="modal-content">
                        <div class="modal-header text-center">
                            <h4 class="modal-title w-100 font-weight-bold text-primary ml-5">Agrega departamentos de forma masiva</h4>
                            <button type="button" class="close text-primary" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body mx-3">
                            <div class="md-form mb-5">
                                <label data-error="wrong" data-success="right" for="inputName">Elige el excel con los departamentos cargados</label>
                                <input type="file" id="postedFile" name="postedFile" class="form-control validate" onchange="ExportToTable()">
                            </div>
                            @Html.HiddenFor(model => model.IdentificadorArea, htmlAttributes: new { @id = "txtIdArea" })
                        </div>
                        <span>
                            @ViewBag.Message
                        </span>
                        <div class="modal-footer d-flex justify-content-center buttonAddFormWrapper">
                            <button onclick="" class="btn btn-outline-primary btn-block buttonAdd">
                                Importar datos
                                <i class="fas fa-plus ml-1"></i>
                            </button>
                        </div>
                    </div>
                }
            </div>
        </div>

        <div class="modal fade modalEditClass" id="modalEdit" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="false">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header text-center">
                        <h4 class="modal-title w-100 font-weight-bold text-secondary ml-5">Actualizar Departamento</h4>
                        <button type="button" class="close text-secondary" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body mx-3">

                        <div class="md-form mb-5">
                            <label data-error="wrong" data-success="right" for="inputName">Id del Departamento:</label>
                            <input type="text" id="TxtIdDepartamento" class="form-control validate" disabled>
                        </div>

                        <div class="md-form mb-5">
                            <label data-error="wrong" data-success="right" for="inputName">Nombre del Departamento:</label>
                            <input type="text" id="inputNameDepartamento" class="form-control validate NombreDepartamentoUpdate">
                        </div>

                        <div class="md-form mb-5">
                            <label data-error="wrong" data-success="right" for="inputPosition">Unidad de Negocio a la que pertenece</label>
                            <select class="form-control" id="DDLUNegocioUpdate2">
                                <option value="0">Selecciona una opcion</option>
                                <option value="1">AUTOFINANCIAMIENTO</option>
                                <option value="2">AUTOMOTRIZ</option>
                                <option value="3">CORPORATIVO</option>
                                <option value="4">FINANCIERA</option>
                                <option value="5">INTERNACIONAL</option>
                                <option value="6">MANUFACTURA</option>
                                <option value="7">OTROS NEGOCIOS</option>
                                <option value="8">PRESIDENCIA</option>
                                <option value="9">TURISMO</option>
                            </select>
                        </div>

                        @*DDL de comoany*@


                        <div class="md-form mb-5">
                            <label data-error="wrong" data-success="right" for="inputPosition">Empresa a la que pertenece</label>
                            @Html.DropDownList("Company", new SelectList(string.Empty, "Value", "Text"), "Selecciona una respuesta", new { @onclick = "", @id = "Company2", @class = "form-control" })
                        </div>

                        <div class="md-form mb-5">
                            <label data-error="wrong" data-success="right" for="inputPosition">Area a la que pertenece</label>
                            @Html.DropDownList("Area", new SelectList(string.Empty, "Value", "Text"), "Selecciona una respuesta", new { @onclick = "", @id = "Area", @class = "form-control" })
                        </div>

                        <div class="md-form mb-5">
                            <label data-error="wrong" data-success="right" for="inputPosition">Estatus deL Área</label>
                            <select class="form-control" id="DDLEstatusUpdate2">
                                <option value="0">Selecciona una opcion</option>
                                <option value="1">Activo</option>
                                <option value="2">Inactivo</option>
                                <option value="3">Eliminado</option>
                            </select>
                        </div>



                        <div class="modal-footer d-flex justify-content-center buttonAddFormWrapper">
                            <button onclick="PostUpdateDepartamento()" class="btn btn-outline-primary btn-block buttonAdd">
                                Guardar cambios
                                <i class="fas fa-pencil-square-o ml-1"></i>
                            </button>
                        </div>

                    </div>

                </div>
            </div>
        </div>

    </div>
</div>
<style>
    .modal-backdrop {
        z-index: -5 !important;
    }
</style>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.15/css/dataTables.bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/responsive/2.1.1/css/responsive.bootstrap.min.css" />
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js" defer></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js" defer></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap4.min.js" defer></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="~/scripts/jquery-1.8.3.min.js"></script>
<script>


    $(document).ready(function () {
        $('#tableDepartamento').DataTable();
    });

    $(document).ready(function () {

        var errorCode = @Session["LogError"];
        if (errorCode == 1) {
            swal({
                title: "Formato de archivo no compatible",
                text: "",
                type: "error",
                icon: "error",
            }).then(function () {
                $.ajax({
                    type: 'GET',
                    url: 'ResetLogError',
                    contentType: 'application/json; charset-utf-8',
                    complete: function (Response) {
                        location.reload;
                    }
                });
            });
        }
        if (errorCode == 2) {
            swal({
                title: "Verifique que en el layout haya escrito correctamente los nombres del Área y la Empresa",
                text: "",
                type: "error",
                icon: "error",
            }).then(function () {
                $.ajax({
                    type: 'GET',
                    url: 'ResetLogError',
                    contentType: 'application/json; charset-utf-8',
                    complete: function (Response) {
                        location.reload;
                    }
                });
            });
        }
        if (errorCode == 3) {
            swal({
                title: "Ocurrió un error al intentar importar los datos",
                text: "",
                type: "error",
                icon: "error",
            }).then(function () {
                $.ajax({
                    type: 'GET',
                    url: 'ResetLogError',
                    contentType: 'application/json; charset-utf-8',
                    complete: function (Response) {
                        location.reload;
                    }
                });
            });
        }
        if (errorCode == 4) {
            swal({
                title: "Error al importar los datos",
                text: "",
                type: "error",
                icon: "error",
            }).then(function () {
                $.ajax({
                    type: 'GET',
                    url: 'ResetLogError',
                    contentType: 'application/json; charset-utf-8',
                    complete: function (Response) {
                        location.reload;
                    }
                });
            });
        }
        if (errorCode == 5) {
            swal({
                title: "No se ha elegido un archivo",
                text: "",
                type: "error",
                icon: "error",
            }).then(function () {
                $.ajax({
                    type: 'GET',
                    url: 'ResetLogError',
                    contentType: 'application/json; charset-utf-8',
                    complete: function (Response) {
                        location.reload;
                    }
                });
            });
        }
        if (errorCode == 6) {
            swal({
                title: "No se detectaron datos para importar",
                text: "",
                type: "error",
                icon: "error",
            }).then(function () {
                $.ajax({
                    type: 'GET',
                    url: 'ResetLogError',
                    contentType: 'application/json; charset-utf-8',
                    complete: function (Response) {
                        location.reload;
                    }
                });
            });
        }

        if (errorCode == 9) {
            //alert('Nada XD');
        }

        if (errorCode == 10) {
            swal({
                title: "Departamentos importados exitosamente",
                text: "",
                type: "success",
                icon: "success",
            }).then(function () {
                $.ajax({
                    type: 'GET',
                    url: 'ResetLogError',
                    contentType: 'application/json; charset-utf-8',
                    complete: function (Response) {
                        location.reload;
                    }
                });
            });
        }


    });


    function AddDepartamento() {
        var nombreDpto = $('.NombreDpto').val();
        var estatus = $('#DDLEstatus').val();
        var idarea = @Session["CURRENT_AREA"];

        if (nombreDpto == null || nombreDpto == "" || estatus == 0) {
            swal({
                title: "Es necesario llenar todos los campos",
                text: "",
                type: "error",
                icon: "error",
            });
        }
        else{

            let ModelDepto = {
                nombre: nombreDpto,
                tipoEstatus: { idEstatus: estatus },
                area: { idArea: idarea }
            }

            var data = JSON.stringify(ModelDepto);

            $.ajax({

                type: 'POST',
                data: data, traditional: true,
                url: '@Url.Action("AddDepartamento", "Empresa")',
                contentType: 'application/json; charset=utf-8',
                succes: function (Response) {

                },
                complete: function (Response) {

                    if (Response.responseJSON == "success") {
                        swal({
                            title: "Los cambios se realizaron correctamente",
                            text: "",
                            type: "success",
                            icon: "success",
                        }).then(function () {
                            window.location = "GetDepartamentoByIdArea?IdArea=" + @Session["CURRENT_AREA"];
                        });
                    }
                    else{
                        swal({
                            title: "Ocurrió un error al intentar registrar el departamento",
                            text: "",
                            type: "error",
                            icon: "error",
                        });
                    }

                }

            });

        }
    }
    function Download() {

        window.location = "@Url.Action("DownloadLayoutDepto", "Empresa")";

    }

    ;

    function DeleteDepartamento(IdDepartamento) {

        let ModelDepartamento = {
            idDepartamento: IdDepartamento
        }

        var data = JSON.stringify(ModelDepartamento);

        $.ajax({

            type: 'POST',
            data: data, traditional: true,
            url: '@Url.Action("DeleteDepartamento", "Empresa")',
            contentType: 'application/json; charset=utf-8',
            complete: function (Response) {

                if (Response.responseJSON == "success") {
                    swal({
                        title: "El Departamento se ha eliminado con éxito",
                        text: "",
                        type: "success",
                        icon: "success",
                    }).then(function () {
                        location.reload();
                    });
                }
                else {
                    swal({
                        title: "Ocurrio un error al intentar eliminar el Departamento",
                        text: "",
                        type: "error",
                        icon: "error",
                    });
                }

            }
        });

    }

    function GetUpdateDepartamento(IdDepartamentoFromView) {

        var ID_Depto = IdDepartamentoFromView
        //Call get departamento by id and fill tags
        let ModelDepartamento = {
            IdDepartamento: ID_Depto
        }

        var data = JSON.stringify(ModelDepartamento);

        $.ajax({

            type: 'GET',
            data: ModelDepartamento, traditional: true,
            url: '@Url.Action("GetDepartamentoById", "Empresa")',
            contentType: 'application/json; charset=utf-8',
            complete: function (Response) {

                if (Response.responseJSON != "error") {

                    $('#modalEditDepartamento').css('display', 'block');
                    $('#TxtIdDepartamento').val(Response.responseJSON.IdDepartamento);
                    $('#Company2').val(Response.responseJSON.Area.Company.CompanyId)
                    $('input.NombreDepartamentoUpdate').val(Response.responseJSON.Nombre);
                    $('#DDLUNegocioUpdate2').val(Response.responseJSON.Area.Company.CompanyCategoria.IdCompanyCategoria);
                    $('#DDLEstatusUpdate2').val(Response.responseJSON.TipoEstatus.IdEstatus);

                    //alert($("#DDLUNegocioUpdate").val());
                    //$('#Company').empty();
                    $('#Company2').empty();

                    $("#Company2").append('<option value="'

                                                               + 0 + '">'

                                                               + 'Selecciona una respuesta' + '</option>');

                    $.ajax({

                        type: 'POST',

                        url: '@Url.Action("GetCompanyAjax", "Empresa")',

                        dataType: 'json',

                        data: { id: $("#DDLUNegocioUpdate2").val() },

                        success: function (city) {

                            if (city != null) {


                                $.each(city, function (i, city) {

                                    $("#Company2").append('<option value="'

                                                               + city.Value + '">'

                                                               + city.Text + '</option>');


                                });
                            }
                            $('#Company2').val(Response.responseJSON.Area.Company.CompanyId);

                            $.ajax({

                                type: 'POST',

                                url: '@Url.Action("GetAreaAjax", "Empresa")',

                                dataType: 'json',

                                data: { id: $("#Company2").val() },

                                success: function (city) {

                                    if (city != null) {


                                        $.each(city, function (i, city) {

                                            $("#Area").append('<option value="'

                                                                       + city.Value + '">'

                                                                       + city.Text + '</option>');


                                        });
                                    }
                                    $('#Area').val(Response.responseJSON.Area.IdArea);
                                }
                            });

                        }

                    });



                }
                else {
                    swal({
                        title: "Ocurrio un error en la peticion Ajax",
                        text: "",
                        type: "error",
                        icon: "error",
                    });
                }




            }
        });

    }


    function PostUpdateDepartamento() {

        var IdDepartamento = $('#TxtIdDepartamento').val();
        var NombreDepartamento = $('.NombreDepartamentoUpdate').val();
        var IdEstatus = $('#DDLEstatusUpdate2').val();
        var IdArea = $('#Area').val();

        let ModelDepartamento = {
            idDepartamento: IdDepartamento,
            nombre: NombreDepartamento,
            tipoEstatus: { idEstatus: IdEstatus },
            area: { idArea: IdArea }
        }

        var data = JSON.stringify(ModelDepartamento);

        $.ajax({
            type: 'POST',
            url: '@Url.Action("UpdateDepartamento", "Empresa")',
            dataType: 'json',
            data: data,
            contentType: 'application/json; charset=utf-8',
            complete: function (Response) {

                if (Response.responseJSON == "success") {
                    swal({
                        title: "El Departamento ha sido actualizado con éxito",
                        text: "",
                        type: "success",
                        icon: "success",
                    }).then(function myfunction() {
                        location.reload();
                    });
                }
                else {
                    swal({
                        title: "Ocurrio un error al intentar actualizar",
                        text: "",
                        type: "error",
                        icon: "error",
                    });
                }

            }
        });

    }
</script>

<script>
    //For updateDepartamento
    $(document).ready(function () {


        //Get value of Categoria
        $("#DDLUNegocioUpdate2").change(function () {
            //alert($("#DDLUNegocioUpdate").val());
            $('#Company2').empty();

            $("#Company2").append('<option value="'

                                                       + 0 + '">'

                                                       + 'Selecciona una respuesta' + '</option>');


            $.ajax({

                type: 'POST',

                url: '@Url.Action("GetCompanyAjax", "Empresa")',

                dataType: 'json',

                data: { id: $("#DDLUNegocioUpdate2").val() },

                success: function (city) {

                    if (city != null) {


                        $.each(city, function (i, city) {

                            $("#Company2").append('<option value="'

                                                       + city.Value + '">'

                                                       + city.Text + '</option>');


                        });
                    }
                }
            });
        });



        //Get value of Area
        $("#Company2").change(function () {
            //alert($("#DDLUNegocioUpdate").val());
            $('#Area').empty();

            $("#Area").append('<option value="'

                                                       + 0 + '">'

                                                       + 'Selecciona una respuesta' + '</option>');


            $.ajax({

                type: 'POST',

                url: '@Url.Action("GetAreaAjax", "Empresa")',

                dataType: 'json',

                data: { id: $("#Company2").val() },

                success: function (city) {

                    if (city != null) {


                        $.each(city, function (i, city) {

                            $("#Area").append('<option value="'

                                                       + city.Value + '">'

                                                       + city.Text + '</option>');


                        });
                    }
                }
            });
        });
    });
</script>
<script>
    var IdArea = getParameterByName('IdArea');
    function getParameterByName(name) {
        name = name.replace(/[\[]/, "\\[").replace(/[\]]/, "\\]");
        var regex = new RegExp("[\\?&]" + name + "=([^&#]*)"),
        results = regex.exec(location.search);
        return results === null ? "" : decodeURIComponent(results[1].replace(/\+/g, " "));
    }
    $(document).ready (function () {
        $('#txtIdArea').val(IdArea);
    })
</script>

<script>
    //Listar todas las Empresas y areas para validar duplicado
    listDepartamentos = [];
    $(document).ready (function () {
        $.ajax({
            url: '@Url.Action("GetAllDepartamentos")',
            type: 'GET',
            data: 'company',
            complete: function (dataArea) {
                for (var i = 0; i < dataArea.responseJSON.length; i++) {
                    var nameArea = dataArea.responseJSON[i].Nombre.toUpperCase();
                    listDepartamentos.push(nameArea);
                }
            }
        });
    })


    function validaDuplicadoDepartamento() {
        var nombreNewArea = $('.txtNombreNewDepto').val();
        nombreNewArea = nombreNewArea.toUpperCase();
        //Revisar en la lista que no exista
        var existe = false;

        for (var i = 0; i < listDepartamentos.length; i++) {
            if (listDepartamentos[i] == nombreNewArea) {
                existe = true;
                $('#msg').remove();
                $('#mergeValidacion').append('<span id="msg" style="color:red">Ya existe una empresa con este nombre</span>');
                $('.botonAgregaUnArea').prop('disabled', true);
            }
        }

        if (existe == false) {
            $('#msg').remove();
            $('.botonAgregaUnArea').prop('disabled', false);
        }

    }

</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.7.7/xlsx.core.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/xls/0.7.4-a/xls.core.min.js"></script>
<script>
    var excelValido = false;
    var propiertiesExcel = null;
    var excelData = null;
    function ExportToTable() {
        $('#exceltable tr').remove();
        var archivo = $('#postedFile').val();
        var extension = archivo.split('.')[1];
        if (extension == 'xlsx') {
            var xlsxflag = false; /*Flag for checking whether excel is .xls format or .xlsx format*/
            if ($("#postedFile").val().toLowerCase().indexOf(".xlsx") > 0) {
                xlsxflag = true;
            }
            /*Checks whether the browser supports HTML5*/
            if (typeof (FileReader) != "undefined") {
                var reader = new FileReader();
                reader.onload = function (e) {
                    var data = e.target.result;
                    /*Converts the excel data in to object*/
                    if (xlsxflag) {
                        var workbook = XLSX.read(data, { type: 'binary' });
                        propiertiesExcel = workbook;
                    }
                    else {
                        var workbook = XLS.read(data, { type: 'binary' });
                        propiertiesExcel = workbook;
                    }
                    /*Gets all the sheetnames of excel in to a variable*/
                    var sheet_name_list = workbook.SheetNames;

                    var cnt = 0; /*This is used for restricting the script to consider only first sheet of excel*/
                    sheet_name_list.forEach(function (y) { /*Iterate through all sheets*/
                        /*Convert the cell value to Json*/
                        if (xlsxflag) {
                            var exceljson = XLSX.utils.sheet_to_json(workbook.Sheets[y]);
                            excelData = exceljson;
                        }
                        else {
                            var exceljson = XLS.utils.sheet_to_row_object_array(workbook.Sheets[y]);
                            excelData = excelData;
                            if (exceljson == null) {
                                excelValido = false;
                                swal('El archivo no contiene informacion para guardar', '', 'info');
                            }
                        }
                        if (exceljson.length > 0 && cnt == 0) {
                            BindTable(exceljson, '#exceltable');
                            cnt++;
                        }
                    });
                    //Validar contenido duplicado
                    var rows = $('#exceltable tr').length;
                    var cols = [];

                    try {
                        for (var i = 0; i < 5; i++) {
                            var datosexcel = propiertiesExcel.Strings[i].h.toUpperCase();
                            cols.push(datosexcel);
                        }
                    } catch (e) {
                        $('#botonAgregaExcel').prop('disabled', true);
                        swal('El archivo que ha elegido no contiene informacion para importar', '', 'info');
                    }


                    //Si en el array cols hay algo igual que el listAreas hay duplicidad
                    var encuentra = false;
                    var datoRepetido = "";
                    for(var i =0; i < cols.length;i++){
                        for(var j =0; j < listDepartamentos.length;j++){
                            if(cols[i] == listDepartamentos[j]){
                                encuentra = true;
                                datoRepetido = listDepartamentos[j];
                                break;
                            }
                        }
                    }

                    if(encuentra == true){
                        //botonAgregaExcel
                        $('#botonAgregaExcel').prop('disabled', true);
                        swal('Ya existe un Área con el nombre: ' + datoRepetido, '', 'info');
                    }
                    else if(encuentra == false && cols.length > 1){
                        $('#botonAgregaExcel').prop('disabled', false);
                    }


                    //Validacion
                    if (rows == 0) {
                        excelValido = false;
                        swal('El archivo que ha elegido no contiene informacion para importar', '', 'info');
                        $('#botonAgregaExcel').prop('disabled', true);
                    }
                    else{
                        excelValido = true;
                        $('#botonAgregaExcel').prop('disabled', false);
                        //$('#exceltable').DataTable();
                        //$('#exceltable').show();
                    }
                }
                if (xlsxflag) {/*If excel file is .xlsx extension than creates a Array Buffer from excel*/
                    reader.readAsArrayBuffer($("#postedFile")[0].files[0]);
                }
                else {
                    reader.readAsBinaryString($("#postedFile")[0].files[0]);
                }
            }
            else {
                swal("Your browser does not support HTML5!", "", "info");
            }
        }
        else {
            swal("Formato de archivo no admitido", "", "info");
        }
    }
    function BindTable(jsondata, tableid) {/*Function used to convert the JSON array to Html Table*/
        tableid = '#cuerpoTabla';
        var columns = BindTableHeader(jsondata, tableid); /*Gets all the column headings of Excel*/
        for (var i = 0; i < jsondata.length; i++) {
            var row$ = $('<tr/>');
            for (var colIndex = 0; colIndex < columns.length; colIndex++) {
                var cellValue = jsondata[i][columns[colIndex]];
                if (cellValue == null)
                    cellValue = "";
                row$.append($('<td/>').html(cellValue));
            }
            $(tableid).append(row$);
        }
    }
    function BindTableHeader(jsondata, tableid) {/*Function used to get all column names from JSON and bind the html table header*/
        tableid = "#filaHead";
        var columnSet = [];
        var headerTr$ = $('<tr/>');
        for (var i = 0; i < jsondata.length; i++) {
            var rowHash = jsondata[i];
            for (var key in rowHash) {
                if (rowHash.hasOwnProperty(key)) {
                    if ($.inArray(key, columnSet) == -1) {/*Adding each unique column names to a variable array*/
                        columnSet.push(key);
                        headerTr$.append($('<th/>').html(key));
                    }
                }
            }
        }
        $(tableid).append(headerTr$);
        return columnSet;
    }
</script>

<table id="exceltable">
    <thead id="filaHead">

    </thead>
    <tbody id="cuerpoTabla"></tbody>
</table>