@model DL.Rango

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Admin/Contenido.cshtml";
}

@section H1{
    <section id="page-title">
        <div class="container-fluid px-lg-5">
            <div class="row">
                <div class="col-12 bottom-align-left center-vertically-xs">
                    <img src="../../img/icon-survey.png" )" class="img-fluid">
                    <h1 class="title-page-survey">
                        Rangos / <span>Editar</span>
                    </h1>
                </div>

            </div>
        </div><!--.container-fluid-->
    </section>
}
<div class="content-wrap">
    <div class="container-fluid px-lg-5">
        <div class="row">
            <div class="col-lg-8  offset-lg-2">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="form-horizontal">
                        <h4>Editar Rango</h4>
                        <hr />
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.IdRango)


                        <div class="form-group">
                            @Html.LabelFor(model => model.Descripcion, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Descripcion, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Descripcion, "", new { @class = "text-danger" })
                            </div>
                        </div>



                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Guardar" class="btn btn-info" />
                            </div>
                        </div>
                    </div>
                }
                <div>
                    @Html.ActionLink("Regresar", "Index")
                </div>
            </div>
        </div>
    </div>
</div>


               
